body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #444; 
    background-color: #e0e0e0;
    margin: 0;
    padding: 0;
}

/* Cabeçalho */
header {
    background-color: #555;
    color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 32px;
}

header nav ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 10px 0;
}

header nav li {
    margin: 0 15px;
}

header nav li a {
    color: #f0f0f0;
    font-size: 18px;
}

header nav li a:hover {
    color: #b0b0b0;
}

/* section sobre o evento */
.section {
    padding: 40px 20px;
    text-align: center;
    background-color: #fff;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Descrição */
#description p {
    font-size: 18px;
    max-width: 800px;
    margin: 0 auto;
}

/* Contêiner dos Palestrantes */
.speakers-container {
    display: flex;
    justify-content: center;
    padding: 50px ;
}

/* Palestrantes */
.speaker {
    width: 250px; /* Aumentado para dar mais destaque */
    text-align: center;
}

.speaker img {
    width: 100%; /* Largura total do contêiner */
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra mais intensa */
}

.speaker img:hover {
    transform: scale(1.1); /* Leve aumento no hover */
}

.speaker h3 {
    font-size: 22px;
    color: #333; /* Cinza escuro */
}

.speaker p {
    font-size: 16px;
    color: #666; /* Cinza claro */
}

/* Agenda */
#agenda ul {
    list-style: none;
    padding: 0;
}

#agenda li {
    font-size: 18px;
    padding: 10px 0;
    border-bottom: 1px solid #bbb; /* Linha cinza */
}

/* Formulário de Inscrição */
form {
    max-width: 400px;
    margin: 0 auto;
    text-align: left;
}

form label {
    display: block;
    font-weight: bold;
    margin: 10px 0 5px;
    color: #444;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #555; /* Borda cinza médio */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f0f0f0; /* Fundo cinza claro */
}

form button {
    background-color: #777; /* Cinza mais escuro */
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #555; /* Tom mais escuro ao passar o mouse */
}

/* Rodapé */
footer {
    background-color: #555;
    color: #f0f0f0;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

/* Efeito de Transição e Estilo de Links */
a {
    color: #777;
    text-decoration: none;
}

a:hover {
    color: #555;
}
